<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/fonts/icomoon/style.css">
    <link rel="stylesheet" href="./static/css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Table #9</title>
</head>

<body>
    <div class="content">
        <h2 class="mb-5">Анализ данных</h2>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-bordered table-sm table-hover">
                        <thead class="table-dark  text-center">
                            <tr>
                                <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1392
                                </td>
                            </tr>
                            <tr>
                                <td>4616</td>
                            </tr>
                            <tr>
                                <td>9841</td>
                            </tr>
                            <tr>
                                <td>
                                    1392
                                </td>
                            </tr>
                            <tr>
                                <td>4616</td>
                            </tr>
                            <tr>
                                <td>9841</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <table class="table table-bordered table-sm table-hover">
                        <thead class="table-dark  text-center">
                            <tr>
                                <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td>
                                1392
                            </td>
                            </tr>
                            <tr>
                                <td>4616</td>
                            </tr>
                            <tr>
                                <td>9841</td>
                            </tr>
                            <tr>
                                <td>
                                    1392
                                </td>
                            </tr>
                            <tr>
                                <td>4616</td>
                            </tr>
                            <tr>
                                <td>9841</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-4">
                    <table class="table table-bordered table-sm table-hover">
                        <thead class="table-dark  text-center">
                            <tr>
                                <th scope="col">Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    1392
                                </td>
                            </tr>
                            <tr>
                                <td>4616</td>
                            </tr>
                            <tr>
                                <td>9841</td>
                            </tr>
                            <tr>
                                <td>
                                    1392
                                </td>
                            </tr>
                            <tr>
                                <td>4616</td>
                            </tr>
                            <tr>
                                <td>9841</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <script src="./static/js/jquery-3.3.1.min.js"></script>
        <script src="./static/js/popper.min.js"></script>
        <script src="./static/js/bootstrap.min.js"></script>
        <script src="./static/js/main.js"></script>
</body>

</html>