<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <div class="row col-md-10 text-center">
        <p></p>
        <h3 id="mess">Start!</h3>
        <p></p>
    </div>
    <p></p>
    <form name="upload" action="/upload" method="post" enctype="multipart/form-data">
        <label for="file">Select a file:</label> 
        <input type="file" name="file" id="file">
        <p></p>
        <input type="submit" value="Upload"> 
    </form>
</body>

</html>